*.zip
*.pyc
cache/pip/*
!cache/pip/empty
.DS_Store
.idea/*
.cache

apigateway/*
!apigateway/routes
!apigateway/*.py
apigateway/itsdangerous.py
apigateway/flask_lambda.py
!apigateway/models
!apigateway/pip_requirements
!apigateway/schemas
apigateway/semver.py
apigateway/six.py
