*.zip
*.pyc
.DS_Store
.idea/*
.cache
*.nbc
*.nbi

/app/*
!/app/jobs
!/app/models
!/app/utils
!/app/*.py
!/app/pip_requirements


tests/.pytest_cache/*
tests/*/.pytest_cache/*
tests/advancedStats/.pytest_cache
tests/session2/.pytest_cache/*/*
tests/aoi/.pytest_cache/*
tests/app/writemongo/.pytest_cache/*
tests/app/utils/.pytest_cache/*
tests/app/jobs/driftcorrection/.pytest_cache/*
tests/app/jobs/sessionprocess/.pytest_cache/*
tests/app/jobs/transformandplacement/.pytest_cache/*
tests/app/jobs/advancedstats/.pytest_cache/*
tests/files/*
apigateway/*
!apigateway/routes
!apigateway/*.py
apigateway/itsdangerous.py
apigateway/flask_lambda.py
!apigateway/models
!apigateway/pip_requirements
!apigateway/schemas
apigateway/semver.py
apigateway/six.py

# Don't commit libraries for lambdas, people should rebuild them from the pip_requirements
/lambdas/*/*/
/lambdas/*/semver.py
/lambdas/*/six.py
